.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
	height: 20px;
	width: 500px;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}

/* display: 'block', 
        width: 500, 
        marginRight: 'auto', 
        marginLeft: 'auto', 
        paddingTop: 50, 
        paddingBottom: 20, */