.button {
    border: none;
    color: white;
    margin: 0px;
    border-radius: 4px;
    font-family: ArialRounded;
    font-size: 16px;
    padding: 2px 12px;
    height: 28px;
    cursor: pointer;
    background: none;
    box-shadow: none;
    font-weight: 300;
    transition: all 100ms;
}

.button:hover {
    background: none rgba(0, 0, 0, 0.15);
    opacity: 1;
    font-weight: bold;
    transition: all 100ms;
}