.button {
    border: none;
    color: white;
    margin: 0px;
    border-radius: 4px;
    font-family: ArialRounded;
    font-size: 16px;
    padding: 2px 12px;
    height: 28px;
    cursor: pointer;
    background: none;
    box-shadow: none;
    font-weight: 300;
}

.button:focus {
    background: none rgba(0, 0, 0, 0.15);
    opacity: 1;
    font-weight: bold;
}

.button-start {
    cursor: pointer;
    border: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    box-shadow: rgb(235 235 235) 0px 6px 0px;
    font-family: ArialRounded;
    font-size: 22px;
    height: 55px;
    color: rgb(217, 85, 80);
    font-weight: bold;
    width: 200px;
    background-color: white;
    transition: color 0.5s ease-in-out 0s;
}

.button-start:focus {
    transform: translateY(6px);
    box-shadow: none;
}