.pomodoroDiv-container {
    text-align: center;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.pomodoroDiv {
    max-width: 650px;
    min-height: 450px;
    margin: 0 auto;
    border-radius: 8px;
    transition: all 400ms;
}

.pomodoroDiv-pomodoro-style { background-color: #DD6662; }
.pomodoroDiv-short-break-style{ background-color: #5E9CA0; }
.pomodoroDiv-long-break-style{ background-color: #5889AC; }

