.pomodoro-container {
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 8%;
}

.pomodoro {
    max-width: 650px;
    min-height: 450px;
    margin: 0 auto;
    border-radius: 8px;
}

.pomodoro-counter-style {
    background-color: #DD6662;
    transition: all 300ms;
}

.pomodoro-short-break-style{
    background-color: #62c7dd;
    transition: all 300ms;
}

.pomodoro-long-break-style{
    background-color: #6662dd;
    transition: all 300ms;
}

