.App {
    height: 100vh;
    padding: 15vh 0;
    transition: all 400ms;
}

.app-pomodoro-style { background-color: #D95550; }
.app-short-break-style { background-color: #4C9195; }
.app-long-break-style { background-color: #457CA3; }

